.navBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: var(--blue);
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 28px;
}
